.Card {
  background: #ffffff;
  border-radius: 15px;
  padding: 2% 2%;
  margin-right: 5%;
  transition: transform 0.2s;
}

.Bold {
  font-size: 1.2rem;
  font-weight: bold;
}

.Image {
  height: 20vh;
  width: 25vh;
  object-fit: cover;
  border-radius: 15px;
}

.NoMargin {
  margin-left: 0;
  margin-right: 0;
}

.zoom {
  padding: 50px;
  width: 200px;
  height: 200px;
  margin: 0 auto;
}

.Card:hover {
  transform: scale(1.1);
  cursor: pointer;
}
