.EmployeesBox {
  border-radius: 15px;
  margin: 5% 10%;
  padding: 5% 5%;
  background-color: white;
}

.EmployeesBox h1 {
  font-weight: bold;
}

@media (max-width: 500px) {
  .EmployeesBox {
    margin: 5% 5%;
    padding: 2% 2%;
    overflow-x: scroll;
  }
}
