.ProfileBox {
  border-radius: 15px;
  margin: 5% 10%;
  padding: 5% 10%;
  background-color: white;
}

.Profile h1 {
  font-weight: bold;
}

.ProfileDetails {
  display: flex;
}

.Avatar {
  height: 20vh;
  width: 20vh;
  object-fit: cover;
  border-radius: 100%;
  position: relative;
  bottom: 12vh;
  border: 5px solid #1f7b81;
  filter: drop-shadow(0px 0px 1px #000000);
}

@media (max-width: 768px) {
  .Avatar {
    height: 20vw;
    width: 20vw;
    position: initial;
    border: 2px solid #1f7b81;
  }
}
