@import '../../assets/styles/responsive';

%menu-settings {
  font-size: 18px !important;
  color: #ffffff#7f8fa4 !important;
  text-decoration: none;
  font-family: 'Source Sans Pro', sans-serif !important;
}
.homenav-wrapper {
  justify-content: space-between;
  @include mobile-and-tablet() {
    width: 100vw;
  }
  > div {
    display: flex;
    align-items: center;
    padding: 5px 0;
  }
}
.account-menu {
  width: 250px;
  text-align: left;
  @include mobile-and-tablet() {
    display: none;
  }
  li {
    text-align: left;
    font-family: 'Source Sans Pro', sans-serif !important;
    color: #ffffff#7f8fa4;
    font-size: 18px !important;
    .settings-icon {
      padding: 3px;
    }
    p, a {
      @extend %menu-settings;
      margin: 0 10px !important;
    }
  }
}
.logout {
  span, p, a {
    color: #ffffff#f44336 !important;
  }
}
.account-settings-gear {
  font-size: 22px;
}
.account-menu-icon {
  bottom: 6px;
  span {
    font-size: 30px;
    overflow: initial;
    .icon-settings {
      color: #ffffff#7f8fa4;
    }
  }
}

@include mobile-and-tablet() {
  .account-menu-icon {
    display: none !important;
  }
}