.page-users {
  display: flex;
  align-items: center;
  overflow-x: hidden !important;
  overflow-y: hidden !important;
  justify-content: center;
  align-content: center;
  width: 60%;
  margin: 0% auto;
}