.title{
    font-weight: bold;
}

.subtitle{
    font-weight: bold;
    margin-left: 2%

}


.body{
    background-color: white;
    width: 90%;
    margin-top: 3%;
    margin-bottom: 3%;
    padding: 3%;
    border-radius: 15px;
}

.select{
    margin: 0 auto;
}

.label{
    font-size: 18px;
}

.graph{
    background-color: #edfaff;
    padding-bottom: 5%;
    padding-top: 5%;
    border-radius: 15px;
}

.centerText{
    text-align:center;
    font-weight: 600;
}

.statsBackground{
    background-color: #edfaff;
    margin-left: 0.5%;
    padding-top: 2%;
    padding-bottom: 2%;
    border-radius: 15px;
    margin-right: 0.5%;
}