.Logo {
  color: white;
  margin-left: 4vw;
}

.NavLogo {
  font-size: 3rem;
}

.Blue {
  color: #45cdd6;
}

.Slogan {
  font-size: 1rem;
  letter-spacing: 0.1em;
  margin-left: 5px;
}

.Dashboard {
  width: 100vw;
  height: 100vh;
  margin: auto;

  background: #2e767a;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.Toolbar {
  width: 4vw;
}

.Avatar {
  height: 5vh;
  width: 5vh;
  border-radius: 100%;
  object-fit: cover;
  margin: 35% 20% 0;
  border: 5px solid white;
}

.Icon {
  height: 3vh;
  width: 3vh;
  object-fit: cover;
  margin: 30% 30% 0;
}

.MainContent {
  background: #e3f2f3;
  flex: 1 1 88%;
  height: 90vh;
  max-width: 95vw;
}

.WelcomeBox {
  color: white;
  background: linear-gradient(0deg, #1d99a0 0%, #45cdd6 101.86%);
  border-radius: 15px;
  margin: 2% 2%;
  height: 30vh;
}

.WelcomeBoxText {
  margin-top: 35%;
}

.WelcomeImage {
  height: 30vh;
  width: 20vw;
  position: relative;
  left: 10px;
}

.BoldedText {
  font-family: 'Roboto';
  font-weight: bold;
}

.White {
  color: white;
}

.PrevBookings {
  background-color: #ffffff;
  border-radius: 15px;
  margin: 2% 2%;
  height: 30vh;
}

.PrevBookingsText {
  margin-top: 2%;
}

.UpcomingBookingsText {
  margin-left: 2%;
}

.NoMargin {
  margin-left: 0;
  margin-right: 0;
}

.Center {
  margin: auto;
}

.Flex {
  display: flex;
  margin: 10px;
}
