html,
body {
    font-family: 'Source Sans Pro', sans-serif !important;
    font-size: 16px;
    position: relative;
}
.info-bar {
    height: 35px;
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #c7b725;
    z-index: 999;
    text-align: center;
    color: #ffffff#ffffff;
    font-weight: 600;
    font-size: 1rem;
    display: flex;
    line-height: 17px;
    justify-content: center;
    align-items: center;
    @media screen and (max-width: 600px) {
        font-size: 0.85rem;
    }
}
.info-bar.development {
    background: #ff6f00;
}
.info-bar.test {
    background: #1442ff;
}
li.select {
    outline: none;
    cursor: pointer;
    &:hover {
        background-color: rgba(0, 0, 0, 0.08);
    }
}